## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
number = int(input("Enter a number :"))
if number % 2== 0:
    print("The number you have entered is Even")
elif number %2 !=0:
    print("The number you have entered is Odd")
else:
    print("Incorrect Format")

Enter a number :56
The number you have entered is Even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
n = int(input("Enter a number to get the multiplication table : "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter a number to get the multiplication table : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
print("The number of elements in the list are" ,len(list1))

The number of elements in the list are 12

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
list2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = 0
for item in list2:
    if type(item) == int or type(item) == float:
        result = result+item
print(result)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
list2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = [ ]
for item in list2:
    if type(item) == str:
        result.append(item)
result = "-".join(result)
print(result)

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [8]:
def my_func(x):
    num_sum = 0
    str_count = 0
    for item in x:
        if type(item) == int or type(item) == float:
            num_sum += item 
        elif type(item) == str:
            str_count += 1
    return {'Sum': num_sum, 'Count_of_Strs':str_count}
        
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
my_func(l1)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [9]:
#i. Use loops to get the answer
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_no = []
for i in li:
    if i%2 != 0:
        odd_no.append(i)
odd_no

[5, 7, 97, 77, 23, 73, 61]

In [10]:
#ii. Use list comprehensions
odd_no = [i for i in li if i%2 != 0]
odd_no

[5, 7, 97, 77, 23, 73, 61]

In [11]:
#iii. Use lambda function with filter
odd_no = list(filter(lambda i :(i %2!=0),li))
odd_no

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [12]:
def descriptives(numbers, aggtype):
    if aggtype == 'sum':
        num_sum = sum(numbers)
        return num_sum
        
    elif aggtype == 'count':
        num_count = len(numbers)
        return num_count
    
    elif aggtype == 'min':
        num_min = min(numbers)
        return num_min
    
    elif aggtype == 'mean':
        num_mean = num_sum / num_count
        return num_mean
        
    elif aggtype == 'max':
        num_max = max(numbers)
        return num_max

In [13]:
l = [5, 7, 97, 77, 23, 73, 61]
descriptives(l,"sum")

343

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [14]:
def area(shape, **dimensions):
        
    '''
    Example of Use of the function :
    area(shape, side = value)

    shape : You have 3 shapes . square, rectangle, circle
    side : Use side for square, 
            length and breadth for a rectangle 
            and radius for a circle
            
    e.g.:
    area('square', side = value)
    area('rectangle', length = value, breadth = value)
    area('circle', radius = 50)
    
    '''
        
    if shape == 'square':
        if 'side' not in dimensions:
            return "Please enter 'side' for a square"
        area=  dimensions['side'] **2 
        return area
        
    if shape == 'rectangle':
        if 'length' not in dimensions or 'breadth' not in dimensions:
            return "Please enter 'length' and 'breadth' for a rectangle"
        area = dimensions['length'] * dimensions['breadth']
        return area
        
    if shape == 'circle':
        if 'radius' not in dimensions:
            return "Please enter 'radius' for a circle"        
        area = (22 / 7) * dimensions['radius']**2
        return area
    
    
    else:
        print('Invalid Shape!')

In [15]:
area('rectangle', length = 50, breadth = 50)

2500

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [16]:
def func(l1, l2):
    matched = list(set(l1).intersection(set(l2)))
    only_in_l1 = list(set(l1).difference(set(l2)))
    only_in_l2 = list(set(l2).difference(set(l1)))
    result = {'Matched': matched,
              'Only in l1': only_in_l1,
              'Only in l2': only_in_l2}
    return result

Q13: write a UDF to check if a number is prime or not.

In [17]:
def prime_num(num):
    if num == 1:
        print(f"{num} is a prime number")
    elif num > 1:
        for i in range(2,num):
            if num%i == 0:
                print(f"{num} is not a prime number")
                break
        else:
            print(f"{num} is a prime number")
    else:

        print(f"{num} is not a prime number")

In [18]:
prime_num(15)

15 is not a prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [19]:
n = int(input("Enter a number : "))
fact = 1
while n < 0:
    print("Enter a Positive number")
    n = int(input("Enter a number : "))
else:
    for i in range(1,n+1):
        fact = fact*i
print(f"The factorial of {n} is {fact}")

Enter a number : -6
Enter a Positive number
Enter a number : -8
Enter a Positive number
Enter a number : 5
The factorial of 5 is 120

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [20]:
n = int(input('Enter a Number :'))
my_dict = {}
for i in range(1,n+1):
    my_dict[i] = i*i
print(my_dict)

Enter a Number :5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [21]:
num = input("Enter numbers separated by comma :")
list1 = num.split(",")
tuple1 = tuple(list1)
print(list1,tuple1)

Enter numbers separated by comma :34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [24]:
words = input("Enter words separated by comma :")
words_list = words.split(",")
words_list.sort()
sorted_words = ",".join(words_list)
print(sorted_words)

Enter words separated by comma :without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [26]:
word = input('Enter a sequence of whitespace separated words : ')
word1 = word.split(' ')
word1 = set(word1)
sorted_word = sorted(word1)
print((' ').join(sorted_word))

Enter a sequence of whitespace separated words : hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [27]:
sentence = input('Enter a sentence : ')
sentence = list(sentence)

upper = 0
lower = 0
for i in sentence:
    if i.isupper():
        upper=upper+1
    elif i.islower():
        lower=lower+1

print('UPPER CASE :',upper,'LOWER CASE :',lower)

Enter a sentence : Hello worlD
UPPER CASE : 2 LOWER CASE : 8

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [28]:
string = input("Enter any words :")
string = string[::-1]
print(string)

Enter any wordsbhdsibf
fbisdhb